<div class="content js-wow fadeIn animated" id="top">
    <div class="col-12">
        <div class="hero-block hero-block--darken hero-block--top-gradient">
        <img class="hero-block_image js-img-swap">    
            <div class="hero-block_content">
            <div class="hero-block_category sub-title"></div>
                <h1 class="hero-block_title o-heading -h1 js-wow fadeInUp animated">
                    <span class="o-heading_line">
                    <div class="date" style="font-size: 30px;">
                            {{ vm.page.date | date:'dd MMM yyyy' }}
                    </div>
                        <span class="o-heading_text js-wow slideUp animated" data-wow-delay="0.1s">{{ vm.page.title   | limitHtml: 40 }}</span>
                    </span>
                </h1>
            </div>
        </div>
    </div>

 <style ng-if="vm.page.featured_image">
      .hero-block {
        background-image: url('{{vm.page.featured_image}}');
      }
    </style>
    <style ng-if="!vm.page.featured_image">
	.hero-block {
        background-image: url('assets/images/big-banner.jpg');
      }
    </style>

<!--<div class="row">
    <div class="col-xs-12">
        <h1>{{post.title.rendered}} - Single Post</h1>

        <div ng-bind-html="post.content.rendered | to_trusted"></div>
    </div>
</div>-->
<div class="pure-g page-content news-content" >
    <div class="pure-u-1">
        <div class="post-meta">
            <ul class="tags">
                <li ng-repeat="tag in vm.post.terms.post_tag">
                    <a ui-sref="postsByTag({ tag: tag.slug })">{{ tag.name }}</a>
                </li>
            </ul>
        </div>

        <div ng-bind-html="vm.page.content"></div>


        <dir-disqus class="dir-disqus" config="disqusConfig"></dir-disqus>
            
    </div>
</div>
