<div ng-switch on="mCard.card_cat" >

  <div ng-switch-when="membership-card" membership-card></div>

  <div ng-switch-when="discover-card" discover-card></div>

  <div ng-switch-when="events-card" events-card></div>

  <div ng-switch-when="nymble-card" nymble-card></div>

  <div ng-switch-when="restrictions-card" restrictions-card></div>

  <div ng-switch-when="gallery-card" gallery-card></div>

  <div ng-switch-when="karbokhandeln-card" karbokhandeln-card></div>

  <div ng-switch-when="news-card" news-card></div>

  <div ng-switch-when="campuscompetence-card" campuscompetence-card></div>

  <div ng-switch-when="faq-card" faq-card></div>

  <div ng-switch-when="karx-card" karx-card></div>

  <div ng-switch-when="map-card" map-card></div>

  <div ng-switch-when="content-card" content-card></div>
  
  <div ng-switch-default standard-card></div>

</div>