<div class="flex-item _100"><div data-animation="slide" data-duration="500" data-infinite="1" class="w-slider"><div class="w-slider-mask">

<div class="w-slide slider-1-faq" style="transform: translateX(0px); opacity: 1; transition: transform 500ms;">

<div class="faq-container">
<h1 class="h1-blue" ng-bind-html="acf.faq_card[0].question | sanitizeHtml"></h1>
<div class="p-large center-text" ng-bind-html="acf.faq_card[0].answer | sanitizeHtml"> 
</div>
</div>

<!--<div class="faq-container" ng-repeat="fCard in acf.faq_card">
<h1 class="h1-blue" ng-bind-html="fCard.question | sanitizeHtml"></h1>
<div class="p-large center-text" ng-bind-html="fCard.answer | sanitizeHtml"> 
</div>
</div>-->

</div>
<div class="w-slide slider-1-faq" style="transform: translateX(0px); opacity: 1; transition: transform 500ms;"></div></div><div class="w-slider-arrow-left"><div class="w-icon-slider-left faq-slider-icon"></div></div><div class="w-slider-arrow-right"><div class="w-icon-slider-right faq-slider-icon"></div></div><div class="w-slider-nav w-round"><div class="w-slider-dot w-active" data-wf-ignore=""></div><div class="w-slider-dot" data-wf-ignore=""></div></div></div></div>