<style>

.social-media-grid .side-margin {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 0;
}

.social-media-grid .tile-card, .social-media-grid .image-content, .news-content {
  height: 100%;
  width: 100%;
}
.postPhoto{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 253px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 2px 2px 0 0;
}

</style>





<div class="social-media">

  <div id="overflow-scroll">
    <nav role="navigation" tabindex="0">
      <md-tabs md-selected="selectedSocialFilterTab" md-center-tabs>
        <md-tab md-on-select="filterSocialTiles()">
          <md-tab-label>Show All</md-tab-label>
        </md-tab>
        <md-tab md-on-select="filterSocialTiles('instagram')">
          <md-tab-label>Instagram <i class="fa fa-rss social-icon"></i></md-tab-label>
        </md-tab>
        <md-tab md-on-select="filterSocialTiles('facebook')">
          <md-tab-label>Facebook <i class="fa fa-facebook-square social-icon"></i></md-tab-label>
        </md-tab>
        <md-tab md-on-select="filterSocialTiles('news')">
          <md-tab-label>News <i class="fa fa-newspaper-o social-icon"></i></md-tab-label>
        </md-tab>
      </md-tabs>

    </nav>
  </div>


  <!-- Progress indicator when loading -->
  <md-progress-linear md-mode="indeterminate"
                      ng-if="pageCtrl.isLoading"
                      id="linear-loader">
  </md-progress-linear>


    <div infinite-scroll='pageCtrl.loadMore()' infinite-scroll-disabled='busy' infinite-scroll-distance='2' infinite-scroll-immediate-check="false">
  

  <div class="social-media-grid">
      <md-grid-list md-cols-xs="1"  md-cols-sm="2" md-cols-md="2" md-cols-gt-md="4" md-row-height-gt-md="2.25:2" md-row-height="2.25:2" md-row-height-md="2.30:2" md-gutter="32px" md-gutter-gt-sm="16px" class="side-margin">

  

 


      <md-grid-tile class="grid-list-tile" md-rowspan-sm="1" md-rowspan="{{tile.height}}"
                    md-colspan="{{tile.width}}" md-colspan-sm="1"
                    ng-repeat="tile in tiles | limitTo:pageCtrl.tilesShowing track by $index"
                    >

          <md-card class="tile-card">
            <!-- Show this content if the tile has an image to display -->
            <div ng-if="socialTiles[$index].imageUrl"><md-content ng-click="navigateToUrl(socialTiles[$index].link)" class="postPhoto" style="background-image: url('{{socialTiles[$index].imageUrl}}');">
              <h1 ng-click="navigateToUrl(socialTiles[$index].link)" class="social-media-icon">
                <i class="fa fa-{{socialTiles[$index].type}}"></i>
              </h1>

              <div class="black"><h1 class="news-title">{{socialTiles[$index].title}}</h1></div>
    
     <div ng-bind-html="socialTiles[$index].description" if="socialTiles[$index].description == 'true'" class=""></div>
              <!--<div layout="row" layout-align="start end" class="social-text-container">
                <md-content class="tile-card-description-holder" ng-if="socialTiles[$index].description.length" ng-class="card.hover ? 'tile-card-description-holder-hover' : ''">
                  <p ng-click="navigateToUrl(socialTiles[$index].link)" class="tile-card-description">
                    <span if="socialTiles[$index].description == 'true'" class="">{{socialTiles[$index].description}}</span>
                  </p>
                </md-content>
              </div>-->
            </md-content></div>

             <md-content ng-click="navigateToUrl(socialTiles[$index].link)" class="postPhoto">
              <h1 ng-click="navigateToUrl(socialTiles[$index].link)" class="social-media-icon">
                <i class="fa fa-{{socialTiles[$index].type}}"></i>
              </h1>

              <div class="black"><h1 class="news-title">{{socialTiles[$index].title}}</h1></div>
    
     <div ng-bind-html="socialTiles[$index].description" if="socialTiles[$index].description == 'true'" class=""></div>
              <!--<div layout="row" layout-align="start end" class="social-text-container">
                <md-content class="tile-card-description-holder" ng-if="socialTiles[$index].description.length" ng-class="card.hover ? 'tile-card-description-holder-hover' : ''">
                  <p ng-click="navigateToUrl(socialTiles[$index].link)" class="tile-card-description">
                    <span if="socialTiles[$index].description == 'true'" class="">{{socialTiles[$index].description}}</span>
                  </p>
                </md-content>
              </div>-->
            </md-content>



          </md-card>
      </div><p ng-click="pageCtrl.loadMore()">Load more</p>

    </md-grid-list>
  </md-grid-title></div>

</div>
  </div>
