@font-face {
  font-family: 'Quarto Bold';
  src: url("http://dev.ths.kth.se/public/fonts/quarto-bold-webfont.eot");
  src: url("http://dev.ths.kth.se/public/fonts/quarto-bold-webfont-.eot#iefix") format("embedded-opentype"), url(".http://dev.ths.kth.se/public/quarto-bold-webfont.woff2") format("woff2"), url("http://dev.ths.kth.se/public/fonts/quarto-bold-webfont.woff") format("woff"), url("http://dev.ths.kth.se/public/quarto-bold-webfont.ttf") format("truetype"), url("http://dev.ths.kth.se/public/quarto-bold-webfont.svg#quartobold") format("svg");
  font-weight: 700;
  font-style: normal; 
}

.material-icons{
	color:white;
	font-size:24px;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('assets/fonts/centurygothic-webfont.eot');
    src: url('assets/fonts/centurygothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/centurygothic-webfont.woff') format('woff'),
         url('assets/fonts/centurygothic-webfont.ttf') format('truetype'),
         url('assets/fonts/centurygothic-webfont.svg#CenturyGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CenturyGothic';
    src: url('assets/fonts/centurygothicbold-webfont.eot');
    src: url('assets/fonts/centurygothicbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/centurygothicbold-webfont.woff') format('woff'),
         url('assets/fonts/centurygothicbold-webfont.ttf') format('truetype'),
         url('centurygothicbold-webfont.svg#CenturyGothicBold') format('svg');
    font-weight: bold;
    font-style: normal;
}