@import "vars";
@import "home";
@import "news";
@import "navbar";
@import "fonts";
@import "animate";
@import "grid";
@import "page";

html {
  font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  line-height: 2em;
  color: #222222; 
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

body {
    background-color: #efefef;
    margin: 0;
    min-height: 100%;
    line-height: 1;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
  body{
      cursor: pointer;
  }
}


h1, h2, h3, h4, h5, h6 {
    font-family: CenturyGothic, sans-serif;
    font-weight: bold;
    margin-top: 40px;
    line-height: .9;
}

.o-heading {
    font-family: CenturyGothic, sans-serif;
    font-weight: bold;
    margin-top: 40px;
    line-height: .9;
}

.hidden {
  visibility: hidden;
}

.main-view {
  background: @colour-main-view-bg;
}

i.fa-2 {
    font-size: 2em;
}
i.fa-3 {
    font-size: 4em;
}
i.fa-4 {
    font-size: 7em;
}
i.fa-5 {
    font-size: 12em;
}
i.fa-6 {
    font-size: 20em;
}

.content {
  margin: 0 auto;
  padding: 0;
  position: relative;
  max-width: 1440px;
  font-size: 0.85em;
  overflow:hidden;
  @media (min-width: 48em) {
    font-size: 1em;
  }
}

.page {
    background-color: #f7f7f7;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
}
.nav-link-level-3{
    margin:0 2px;
}
.o-half h2 a:before{
     background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDA0MDZjIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAgNkw4LjU5IDcuNDEgMTMuMTcgMTJsLTQuNTggNC41OUwxMCAxOGw2LTZ6Ii8+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==') no-repeat -15px center;
     padding: 0 15px;
     content: '';
}

@media (min-width: 1600px){
.o-heading.-h1 {
    font-size: 4.125rem;
}
}
@media (max-width: 1599px) and (min-width: 1200px){
.o-heading.-h1 {
    font-size: 4.125rem;
}
}
@media (max-width: 1199px) and (min-width: 1000px){
.o-heading.-h1 {
    font-size: 3.375rem;
}
}
@media (max-width: 999px) and (min-width: 700px){
.o-heading.-h1 {
    font-size: 3rem;
}
}
@media (max-width: 699px){
.o-heading.-h1 {
    font-size: 60px;
}
.o-heading.-h2 {
    font-size: 3rem;
}
h2{
   font-size: 3rem;
}
}
.o-heading.-h1 {
    letter-spacing: -.01em;
}




h1 {
  @media (min-width: 48em) {
    font-size: 3em;
  }
}

h2 {
  @media (min-width: 48em) {
    font-size: 2em;
  }
}

h3 {
  @media (min-width: 48em) {
    font-size: 1.6em;
    line-height: 1.3em;
  }
  @media (max-width: 47em) {
    line-height: 1.3em;
}
}

img {
  max-width: 100%;
  height: auto;
}

code {
  border: 1px solid #dfdfdf;
  padding: 1px 3px;
  background-color: #f0f0f0;
}


p, li {
  line-height: 2em;
}

blockquote {
  border-left: 3px solid #ddd;
  padding-left: 10px;
}

.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: @colour-a-link;
}
a:hover {
  color: @colour-a-hover;
}

.page-header {
  min-height: 50px;
}

.page-content {
  animation: fadeIn 0.6s;
}

.lead {
  margin:10px 10px;
  font-size: 1rem;
}



/******************** 
    Extra
**********************/

.js-wow {
    visibility: hidden
}
