@import "vars";

.container {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: flex;
  max-width:1600px;
  margin: 0 auto;
  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.page-content {
    font-size: 1.1rem;
    line-height: 33px;
    font-weight: 400;
    padding:0px 30px;
}
.row{
  padding:20px;
}

 .hero-block {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
   background-color: #000;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 52.5vh;
    max-height: 400px;
     @media (min-width: 1441px){
        max-height: 550px;
    }
    overflow: hidden;
    position: relative;
    transition: background 0.2s linear;
}
.hero-block:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.hero-block--top-gradient:after {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, 0) 50%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, 0) 50%);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}
.hero-block--top-gradient-short:after {
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 25%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .25) 0, rgba(0, 0, 0, 0) 25%);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1
}
.hero-block-link {
    display: block
}
.hero-block_image {
    display:none;
}
.hero-block_video {
     display: block;
}
.hero-block--darken .hero-block_image {
    opacity: .8
}
.hero-block_content {
    bottom: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    left: 0;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .64) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .64) 100%);
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 2
}

.hero-block_category {
    margin-bottom: 0
}
.hero-block_title {
    margin-bottom: 0;
    margin-top: 16px
}


@media screen and (min-width: 480px) {
    .hero-block_content {
        padding: 30px
    }
    .hero-block_content {
        padding: 40px
    }
    .js-hero-video-clip--active .hero-block_image {
        display: none
    }
    .js-hero-video-clip--active .hero-block_video {
        display: block
    }
}
@media screen and (min-width: 1440px) {
    .hero-block_content.--search{
        margin: 15%;
        width: 60%;
    }

}

.t-404 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;
    text-align: center;
}

.link-container a {
    display: block;
    letter-spacing: .25px;
    line-height: 1.2;
    margin: 0 0 17px -15px;
}
.link-container a:hover {
    text-decoration:underline;
}

.link-container a:before {
     background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDA0MDZjIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTAgNkw4LjU5IDcuNDEgMTMuMTcgMTJsLTQuNTggNC41OUwxMCAxOGw2LTZ6Ii8+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==') no-repeat 9px center;
     padding: 0 18px;
     content: '';
}
.link-container a:before img{
  display:none !important;
}
.link-container br{
  display:none;
}
.two-third a:hover{
    text-decoration: underline;
}

.pure-g{
    padding-bottom:50px;
}
.related-link-item {
    padding: 10px;
    color: #00406c;
}
.event-card {
    line-height:22px;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) {
    .event-card {
    line-height:40px;
}
}
@media screen and (max-width: 699px) {
    .event-card {
    line-height:30px;
}
}

.related-links-block{
  margin-bottom:40px;
}
@media screen and (max-width: 999px) {
  .related-links-block{
          padding: 0 40px;
}
}
@media screen and (max-width: 699px) {
  .related-links-block{
          padding: 0 20px;
}
.link-container a{
  padding-left: 0px; 
}
}

.cover-img{
    max-width: 100%;
    min-height: 200px;
    margin: 0 40px;
}
@media (max-width: 1000px){
  .cover-img{
    margin: 0;
}
}


div.youtube iframe{
    top: -10%;
    z-index:1;
    position:absolute;
    @media (min-width: 699px){
         top: -25%;
         height:200%;
         max-height:850px;
    }
    @media (min-width: 1441px){
         top: -15%;
    }
}
.hero-block--tall {
    height: 75vh !important;
    max-height:600px;
     @media (min-width: 1441px){
     max-height:700px;
     }
}

.tag--news{
  background-color: #00406c;
}

.feature-blockNews_content {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #00406c;
    left: 0;
    padding: 20px;
    margin-top:80px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.feature-blockSocial_content{
    max-width: 400px;
    padding: 75px 40px;
    @media screen and (max-width: 999px) {
    max-width: 899px;
    padding: 150px 70px;
}
    @media screen and (max-width: 699px) {
        max-width: 100vw;
        padding: 90px 20px;
}
}

.feature-blockSocial_content h3{
    line-height: 2em;
    font-size: 1.1em;
    margin-top:0;
    color: @color-blue;
}
.feature-blockNewsImg_content {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    left: 0;
    padding: 20px;
    margin-top:80px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.feature-block_category {
    margin-bottom: 0;
}
.feature-block_title {
    margin-bottom: 0;
    line-height:1.6em;
    margin-top: 8px;
    margin:20px 0;
}

.vf-core .content-block-solid {
    padding: 20px 30px 30px;
    margin-bottom: 30px;
    background-color: @color-blue;
    color: #fff;
    font-size: 18px;
}
.vf-core .content-block-solid .content-block-top-header {
    font-size: 27px;
    color: #fff;
    margin-bottom: 15px;
}

.vf-core .vfDirekt-container {
    color: #505050;
}
.vf-core div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.vf-core .mb20 {
    margin-bottom: 20px !important;
}
.vf-core .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.vf-core .alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
}

.vf-core .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    position: relative;
}
.vf-core .content-block {
    margin-bottom: 30px;
}
.vf-core .content-block .content-block-top {
    padding: 11px 30px;
    background-color: @color-blue;
}
.vf-core .content-block .content-block-content {
    border-top: none;
    padding: 20px 30px 45px;
    font-size: 18px;
    line-height: 35px;
}
.vf-core .vfDirekt-container .core-divider {
    margin-top: 20px;
}
.vf-core .core-divider {
    margin-top: 30px;
    height: 1px;
    background-color: #d9d9d9;
}

.vf-core input[type=text], .vf-core input[type=email], select, .vf-core input[type=password], .vf-core textarea {
    background-color: #fff;
    border: solid 1px #d9d9d9;
    border-radius: 3px;
    width: 100%;
    color: #444444;
    box-sizing: border-box;
    padding: 9px 10px 8px 10px;
    min-height: 40px;
    font-size: 1.1em;
}
.vf-core textarea {
    overflow: auto;
}
.vf-core .row {
    background: none;
    margin-top: 0;
    margin-bottom: 0;
    overflow: visible;
}
.o-padding{
  padding-right: 5px;
  @media screen and (max-width: 1000px) {
  padding: 0;
  }
}
.vf-core .core-button{
  margin-top: 20px;
  border: 0;
  background-color: @color-blue;
  color: #fff;
  font-size: 17px;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
  height: 40px;
}


@media (min-width: 771px){
.page.no-article-survey {
    min-height: 460px;
}
}


.accordion-homepage h1 {
    display: block;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    padding: 16px;
}

@media (min-width: 771px){
.hcfe h1 {
    font-size: 34px;
    line-height: 40px;
    margin: 0 0 26px;
}
}
.accordion-homepage .parent {
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 0;
}
@media (min-width: 771px){
.accordion-homepage .parent {
    position: relative;
}
}



.accordion-homepage h2 {
    font-size: 15px;
    font-weight:400;
    line-height: 26px;
    margin: 0;
    padding: 12px 72px;
    font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

.accordion-homepage .overflow {
    overflow: hidden;
}
.accordion-homepage .children {
    margin-bottom: -9999px;
    transition: margin-bottom 0s .5s,margin-top .5s;
              -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}

.accordion-homepage .parent.selected {
    background: @color-blue;
    padding-bottom: 10px;
}

.accordion-homepage .parent {
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 0;
                  -webkit-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    transition:all 0.5s ease;
}
@media (min-width: 771px){
.accordion-homepage .parent {
    position: relative;
}
}
.accordion-homepage .parent.selected h2:before {
    color: #fff;
    content: '-';
    left: 22px;
}
.accordion-homepage h2:before {
    color: @color-blue;
    content: '+';
    font-size: 24px;
    left: 20px;
    position: absolute;
}
.accordion-homepage .parent.selected h2 {
    color: #fff;
    font-weight: bold;
    margin-bottom: 1px;
}



.accordion-homepage .parent.selected .children {
    margin-bottom: 0;
    transition: margin-top .5s;
}

.accordion-homepage a {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 12px 16px 12px 72px;
    text-decoration: none !important;
}
.accordion-homepage .parent a {
    color: #fff;
}

.modal-body__inner__search-results .h1-blue{
    margin: -3px 0;
    line-height:1.5em;
}
article.entry{
    padding:10px 0;
}
article label{
  font-size:0.9em;
}

.post-result{
    font-size:0.9em;
    color:rgba(0,0,0,0.6);
}

.o-heading_line input[type=search]{
    background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmZmZmIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTUuNSAxNGgtLjc5bC0uMjgtLjI3QzE1LjQxIDEyLjU5IDE2IDExLjExIDE2IDkuNSAxNiA1LjkxIDEzLjA5IDMgOS41IDNTMyA1LjkxIDMgOS41IDUuOTEgMTYgOS41IDE2YzEuNjEgMCAzLjA5LS41OSA0LjIzLTEuNTdsLjI3LjI4di43OWw1IDQuOTlMMjAuNDkgMTlsLTQuOTktNXptLTYgMEM3LjAxIDE0IDUgMTEuOTkgNSA5LjVTNy4wMSA1IDkuNSA1IDE0IDcuMDEgMTQgOS41IDExLjk5IDE0IDkuNSAxNHoiLz48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PC9zdmc+') no-repeat 9px center;
    padding: 0px 10px 3px 0;
    text-indent: 60px;
}
.heading-tabs{
    z-index:1;
    position: relative;
}

@media (min-width: 321px){
.heading-tabs {
    margin: 13px 0 8px;
}
}
@media (min-width: 700px){
.heading-tabs {
    margin: 13px 0px 0 70px;
    text-align: left;
}
}

@media (min-width: 1000px){
.heading-tabs {
    text-align: center;
    margin: 25px auto 0;
    max-width:800px;
}
}

.header-search-form {
    position: relative;
    background:0;
}
@media screen and (max-width: 640px){
.o-heading_line input[type=search]{
    text-indent:0;
    background:0;
}
}
@media screen and (max-width: 1100px){
.header-search-form {
    position:absolute;
}
}
@media (min-width: 1100px){
.header-search-form {
    display: block;
    margin:0 auto;
    padding: 20px;
    margin-top:200px;
    top: 0;
    max-width:750px;
}

}

.download.-pdf{
    padding: 60px 10px;
}


/* 
* Policy
*/


.policy article > details > summary:after {
margin: -85px 20px 0 0;
@media only screen and (max-width: 999px){
    display:none;
}
}
.documents{
    padding:20px;
}
.documents input, .documents .date-year{
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 750px;
}
.nav-pills{
 padding-bottom:30px;   
}
.searchFilter{
    list-style:none;
    padding:0;
}
.searchFilter .active .heading-title{
    background-color: #00406c;
    color: #ffffff;
}
.searchFilter .heading-title{
    background-color: #ffffff;
    color: #00406c;
    padding:30px;
    width:100%;
    margin:0;
}
.landing_section:first-child {
    border-top: none;
}
.landing_section .feature-block_title {
    padding:0 30px;
}
.landing_section {
    border-top: 1px solid #d4dce1;
}
.documents .textInput--jumbo{
    color:#000000;
}
.landing_links_titles {
    margin-left: -0.5em;
}
.landing_links_titles a {
    font-size: 1.1em !important;
    line-height: 1.428571em;
    margin: 0.357143em;
    padding: 0.357143em 0.714286em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    background-color: #eeeeee;
    color: #373f4c;
    display: block;
}
.header_image_wrapper {
       margin: -80px 200px;
    position: absolute;
}
.header_image_wrapper img{
     width:350px;
}
.header_title_wrapper{
    padding-bottom: 100px;
} 
@media only screen and (max-width: 1200px){
    .header_image_wrapper img{
     display:none;
}
.header_title_wrapper{
    padding-bottom: 0;
} 
}
summary::-webkit-details-marker {
  display: none;
}
article > details > summary {
    background-color: #ffffff;
    border-bottom:1px solid rgba(0,64,108,0.3);
    color:rgba(0,64,108,1); 
}
article > details[open] > summary {
    background-color: rgb(0, 64, 108);
    border-bottom:1px solid rgba(255,255,255,1);
    color:#ffffff;
}
article > details[open] > * { display: block; }

article > details[open] > details[open] * { display: block; }

article > details[open] > details > summary {
    background-color: #ffffff;
    border-bottom:1px solid rgba(0,64,108,0.3);
    margin:0 10px;
    color: rgba(0,64,108,1); 
}
article > details[open] > details[open] > summary {
    border-bottom:5px solid rgb(0, 64, 108);
    color:rgb(0, 64, 108);
}
article > details > summary > label:after {
  border-radius: 5px; 
  content: "+"; 
  color: rgba(0,64,108,1); 
  float: right; 
  font-size: 1.5em; 
  font-weight: bold; 
  margin: 0 10px;
  padding: 0; 
  text-align: center; 
    -webkit-transition: -webkit-transform 0.3s ease;
     -moz-transition: -moz-transform 0.3s ease;
       -o-transition: -o-transform 0.3s ease;
          transition: transform 0.3s ease;

}
article > details[open] > summary > label:after  {
  color: #ffffff; 
}
article > details[open] > details > summary > label:after  {
  border-radius: 5px; 
  content: "+"; 
  color: rgba(0,64,108,1); 
  float: right; 
  font-size: 1.5em; 
  font-weight: bold; 
  margin: 0 10px;
  padding: 0; 
  text-align: center; 
    -webkit-transition: -webkit-transform 0.3s ease;
     -moz-transition: -moz-transform 0.3s ease;
       -o-transition: -o-transform 0.3s ease;
          transition: transform 0.3s ease;
}
article > details[open] > summary > label:after {
 color: rgb(0, 64, 108); 
   transform: rotate(45deg) scale(1.08);
    -ms-transform: rotate(45deg) scale(1.08);
    -webkit-transform: rotate(45deg) scale(1.08);
}
article > details[open] > details[open] summary > label:after {
    color: rgb(0, 64, 108); 
    transform: rotate(45deg) scale(1.08);
    -ms-transform: rotate(45deg) scale(1.08);
    -webkit-transform: rotate(45deg) scale(1.08);

}
article > details > summary > p, article > details > details > summary > p  {
    padding:0 15px !important;
    line-height:0;
    display:inline;
    font-weight: 700;
    font-size: .85em;
    @media screen and (min-width: 640px) {
    font-size: 1em;
    }
}
.display-none{
  display:none;
}
label.feature-block{
    display:inline-block;
    width:100%;
    padding:20px;
    font-weight: bold;
    line-height:1.5em;
    cursor: pointer;
    max-width:95%;
}
label.feature-policy-block{
    display:block;
    width:100%;
    padding:60px 30px;
    max-width:80%;
    line-height:1.5em;
}

input[type='checkbox'].checkbox-state{
   position:absolute;
   opacity:0;
}

input[type=checkbox].checkbox-state + details > .o-half, input[type=checkbox].checkbox-state + details > .two-third {
    display:none;
}

input[type=checkbox].checkbox-state:checked + details > .o-half, input[type=checkbox].checkbox-state:checked + details > .o-third, input[type=checkbox].checkbox-state:checked + details.subcontent > .o-half, {
    display:inline-block;
}

input[type=checkbox].checkbox-state:checked + details > * { display: block; }

input[type=checkbox].checkbox-state:checked + details > summary:after { color: #ffffff; 
    transform: rotate(45deg) scale(1.08);
    -ms-transform: rotate(45deg) scale(1.08);
    -webkit-transform: rotate(45deg) scale(1.08); }

input[type=checkbox].checkbox-state:checked + details > summary{
    border-bottom:5px solid rgb(0, 64, 108);
    color:rgb(0, 64, 108);
}

input[type=checkbox].checkbox-state + details > summary{
     background-color: rgba(255,255,255,1);
    border-bottom:1px solid rgba(0,64,108,0.3);
    color:rgb(0, 64, 108);
}
details > * {
    display:none;
}

summary h3{
    margin:0;
}

details summary { display: block; }
summary { cursor: pointer; }



/* F.A.Q */

.toggle-box, .toggle-box-2 {
  display: none;
}

.bg-c div.content-c{
  display: none;
}

.bg-c label{
    border-top: 1px solid #ebebeb;
    cursor: pointer;
    padding: 20px 20px;
    background-color: #ffffff;
    color:rgba(0,64,108,1); 
    font-size:1em;
    line-height: 1.5em;
    display:block;
    padding-left: 50px;
    font-weight: 500;
}

 .bg-c label.bg-c2{
    margin: 20px;

 }
.bg-c label:hover{
    text-decoration: underline;
}
.bg-c label:before{
  border-radius: 5px; 
  content: "+"; 
  color: rgba(0,0,0,0.1); 
  float: left; 
  font-size: 2em; 
  font-weight: bold; 
  margin: -2px -30px;
  padding: 0; 
  text-align: center; 
  outline: 0;
    -webkit-transition: -webkit-transform 0.3s ease;
     -moz-transition: -moz-transform 0.3s ease;
       -o-transition: -o-transform 0.3s ease;
          transition: transform 0.3s ease;
}

@media screen and (max-width: 480px) {
.bg-c label:after{

}
}
.toggle-box:checked + .bg-c > *, .toggle-box-2:checked + .bg-c > *  {
  display: block;
  background-color: #f7f7f7;
}

input.toggle-box:checked+ .bg-c label.bg-c1:before, input.toggle-box-2:checked + .bg-c label.bg-c2:before  {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
}






