 <div class="o-grid">
<div class="o-third" style="padding-bottom:50px">

<div class="cal-row-fluid cal-row-head">

</div>
<div class="cal-month-box">

  <div
    ng-repeat="rowOffset in vm.monthOffsets track by rowOffset"
    ng-mouseenter="rowHovered = true"
    ng-mouseleave="rowHovered = false">
    <div class="cal-row-fluid cal-before-eventlist">
      <div
        ng-repeat="day in vm.view | calendarLimitTo:7:rowOffset track by $index"
        ng-init="dayIndex = vm.view.indexOf(day)"
        class="cal-cell1 circle-ci cal-cell {{ day.highlightClass }}"
        ng-style="{backgroundColor: day.backgroundColor}"
        ng-click="vm.dayClicked(day, false, $event)"
        ng-class="{pointer: day.events.length > 0}">
        <div
  mwl-droppable
  on-drop="vm.handleEventDrop(dropData.event, day.date, dropData.draggedFromDate)"
  mwl-drag-select="!!vm.onDateRangeSelect"
  on-drag-select-start="vm.onDragSelectStart(day)"
  on-drag-select-move="vm.onDragSelectMove(day)"
  on-drag-select-end="vm.onDragSelectEnd(day)"
  class="cal-month-day {{ day.cssClass }}"
  ng-class="{
    'cal-day-outmonth': !day.inMonth,
    'cal-day-inmonth': day.inMonth,
    'cal-day-weekend': day.isWeekend,
    'cal-day-past': day.isPast,
    'cal-day-today': day.isToday,
    'cal-day-future': day.isFuture,
    'cal-day-selected': vm.dateRangeSelect && vm.dateRangeSelect.startDate <= day.date && day.date <= vm.dateRangeSelect.endDate,
    'cal-day-open': dayIndex === vm.openDayIndex
  }">

  <div class="events-list day-count" ng-if="day.events.length > 0">
  <a
    href="javascript:;"
    class="pull-left event"
    ng-class="event.cssClass"
    ng-style="{backgroundColor: event.color.primary}"
    ng-mouseenter="vm.highlightEvent(event, true)"
    ng-mouseleave="vm.highlightEvent(event, false)"
    tooltip-append-to-body="true"
    uib-tooltip-html="vm.calendarEventTitle.monthViewTooltip(event) | calendarTrustAsHtml"
    mwl-draggable="event.draggable === true"
    drop-data="{event: event, draggedFromDate: day.date.toDate()}">
      <span
    class="pull-right"
    data-cal-date
    ng-bind="day.label">
  </span>

  </a>
</div>
<div class="events-list" ng-if="day.events.length == 0">
        <span
    class="pull-right"
    data-cal-date
    ng-bind="day.label">
  </span>
</div>


  <div id="cal-week-box" ng-if="$first && rowHovered">
    <span ng-bind="vm.getWeekNumberLabel(day)"></span>
  </div>

</div>

      </div>
    </div>

  </div>

</div></div>

<div class="two-third">

  <div class="content page" id="top" uib-collapse="vm.isCollapsed" mwl-collapse-fallback="vm.isCollapsed" ng-if="!vm.view[vm.openDayIndex].events.length > 0">
    <div class="o-content">
    <div class="o-container" data-widget="block">
        <div class="o-grid">

    <div class="o-whole js-wow fadeInUp " data-wow-duration="0" data-wow-offset="0" ng-repeat="day in vm.view" >

    <div ng-repeat="event in day.events | orderBy:'startsAt' as dayEvents">
    
        <style ng-if="event.img">
  .hero-block-img-{{event.img}} {
        background-image: url('https://drive.google.com/uc?export=view&id={{event.img}}');
		    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('https://drive.google.com/uc?export=view&id={{event.img}}');
    background-size: cover;
    visibility: visible;
	height:460px;
}
    </style>

  <div class="feature-block animate-block" style="max-height: 600px;">

  <a ng-if="!event.img" href="#" ng-click="vm.dayClicked(day, false, $event)" class="c-block feature-block_link" style="background-image: url('http://ths.kth.se/wp/wp-content/uploads/2017/01/events-nymble.jpg');  background-size: cover; min-height: 460px;">
<div class="tag tag--date">
          <div class="tag_month">{{event.startsAt |  date:'MMM'}}</div>
          <div class="tag_day">{{event.startsAt |  date:'dd'}}</div>
        </div>
        
      <div class="feature-block_content">
        <div class="feature-block_category sub-title">{{ event.description  | limitHtml: 100 }}</div>
        <h3 class="feature-block_title">{{ event.title  | limitHtml: 100 }}</h3>
      </div>
  </a>
<a href="#" ng-click="vm.dayClicked(day, false, $event)">
    <div ng-if="event.img" class="c-block feature-block_link" style="background-image: url('http://ths.kth.se/wp/wp-content/uploads/2017/01/events-nymble.jpg');  background-size: cover; min-height: 460px;">
    
    <div class="hero-block-img-{{event.img}}">
     <div class="tag tag--date">
          <div class="tag_month">{{event.startsAt |  date:'MMM'}}</div>
          <div class="tag_day">{{event.startsAt |  date:'dd'}}</div>
        </div><!-- End .tag -->
        
      <div class="feature-block_content">
        <div class="feature-block_category sub-title">{{ event.description  | limitHtml: 150 }}</div>
        <h3 class="feature-block_title">{{ event.title  | limitHtml: 100 }}</h3>
      </div><!-- End .feature-block_content -->
    </div>
    </div>
    </a><!-- End .feature-block_link -->



  
  </div>
  </div><!-- End .feature-block -->
            </div>
                      
        </div>
    </div>
</div>
</div>





   <div class="cal-slide-box js-wow fadeInUp " uib-collapse="vm.isCollapsed" mwl-collapse-fallback="vm.isCollapsed" ng-if="vm.view[vm.openDayIndex].events.length > 0">

 

      <div
        ng-repeat="event in vm.view[vm.openDayIndex].events | orderBy:'startsAt' track by event.calendarEventId"
        mwl-draggable="event.draggable === true"
        drop-data="{event: event}" class="o-container left-o">

<p><a ng-click="vm.dayClicked(day, true, $event)"><i class="fa fa-arrow-left fa-1" aria-hidden="true"></i> Back</a></p>

  <h3>{{event.title }}</h3><p> {{event.startsAt |  date:'dd MMMM yyyy HH:mm'}} - {{event.endsAt|  date:'dd MMMM yyyy HH:mm'}}</p>

    
    <div class="event-desc" ng-bind-html="event.description | calendarTrustAsHtml "></div>
    <p><a href="{{event.link}}">Google Calendar</a></p>


      </div>

        <a
          href="javascript:;"
          class="event-item-action"
          ng-class="action.cssClass"
          ng-repeat="action in event.actions track by $index"
          ng-bind-html="action.label | calendarTrustAsHtml"
          ng-click="action.onClick({calendarEvent: event})">
        </a>

      </div>



   </div>
   

   </div></div>
